<div class="main-container">
  <ng-container *ngIf="breakpoint === 'medium' || breakpoint === 'large' || breakpoint === 'xlarge'">
    <header-desktop></header-desktop>
  </ng-container>
  <ng-container *ngIf="breakpoint === 'xs' || breakpoint === 'small'">
    <header-mobile></header-mobile>
  </ng-container>
  <app-main-home></app-main-home>
  <div class="second-section">
    <h3>Estrenar un auto nunca había sido tan fácil.</h3>
    <p>El arrendamiento de un seminuevo puede ser aún más valioso si puedes obtener el mejor acuedo con el distribuidor. LeaseMD lleva a cabo esta negociación por ti, garantizándole el mejor acuerdo posible.</p>
  </div>
  <div class="details">
    <div>
      <h3>Ofrecemos más que el arrendamiento de un seminuevo.</h3>
    </div>
    <div>
      <app-point-card>
        <h4 title>Smart Gas</h4>
        <p body>Tarjeta siempre cargada para pagar y deducir tu gasto de combustible.</p>
      </app-point-card>
      <app-point-card>
        <h4 title>Smart Gas</h4>
        <p body>Tarjeta siempre cargada para pagar y deducir tu gasto de combustible.</p>
      </app-point-card>
      <app-point-card>
        <h4 title>Smart Gas</h4>
        <p body>Tarjeta siempre cargada para pagar y deducir tu gasto de combustible.</p>
      </app-point-card>
      <app-point-card>
        <h4 title>Smart Gas</h4>
        <p body>Tarjeta siempre cargada para pagar y deducir tu gasto de combustible.</p>
      </app-point-card>
    </div>
  </div>
  <app-footer></app-footer>
</div>
