<footer>
  <div class="logo">
    <img src="../assets/images/logo_test.svg">
  </div>
  <div>
    <h5>Nuestros productos</h5>
    <ul class="footer-menu">
      <li><a href="#">Arrendamiento de auto</a></li>
      <li><a href="#">Arrendamiento de equpo médico</a></li>
      <li><a href="#">Línea de arrendamiento</a></li>
    </ul>
  </div>
  <div>
    <h5>La compañía</h5>
    <ul class="footer-menu">
      <li><a href="#">Arrendamiento de auto</a></li>
      <li><a href="#">Arrendamiento de equpo médico</a></li>
      <li><a href="#">Línea de arrendamiento</a></li>
    </ul>
  </div>
  <div>
    <h5>Recibe nuestras promociones</h5>
    <form>
      <div class="newslatter">
        <input type="email" placeholder="Ingresa tu correo electrónico">
        <button type="submit"><fa-icon [icon]="faArrowRight"></fa-icon></button>
      </div>
    </form>
  </div>
</footer>
